<div class="container-fluid bg-body-secondary m-0 p-0">
    <div class="container">
        <div class="row" style="height: 450px;">
            <div class="col-12 col-sm-6 col-lg-3 bg-body-secondary pt-4">
                <div class="col-sm-auto">
                    <h5 class=" fw-bold py-2">Mi cuenta</h5>
                </div>
                <div class="col-sm-auto pb-1">
                    <a href="" class="text-black" style="text-decoration: none;">Registrate</a>
                </div>
                <div class="col-sm-auto pb-1">
                    <a href="" class="text-black" style="text-decoration: none;">Iniar sesion</a>
                </div>
                <div class="col-sm-auto pb-1">
                    <a href="" class="text-black" style="text-decoration: none;">Sigue tu pedido</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 bg-body-secondary pt-4">
                <div class="col-sm-auto">
                    <h5 class=" fw-bold py-2">Smartech</h5>
                </div>
                <div class="col-sm-auto pb-1">
                    <a href="" class="text-black" style="text-decoration: none;">Quienes somos</a>
                </div>
                <div class="col-sm-auto pb-1">
                    <a href="" class="text-black" style="text-decoration: none;">Nuestras tiendas</a>
                </div>
                <div class="col-sm-auto pb-1">
                    <a href="" class="text-black" style="text-decoration: none;">Trabaja con nosotros</a>
                </div>
                <div class="col-sm-auto pb-1">
                    <a href="" class="text-black" style="text-decoration: none;">Servicios corporativos</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 bg-body-secondary pt-4">
                <div class="col-sm-auto">
                    <h5 class=" fw-bold py-2">Atencion al cliente</h5>
                </div>
                <div class="col-sm-auto pb-1">
                    <a href="" class="text-black" style="text-decoration: none;">Servicio tecnico</a>
                </div>
                <div class="col-sm-auto pb-1">
                    <a href="" class="text-black" style="text-decoration: none;">Centro de ayuda</a>
                </div>
                <div class="col-sm-auto pb-1">
                    <a href="" class="text-black" style="text-decoration: none;">Preguntas frecuentes</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 bg-body-secondary pt-4 pb-4">
                <div class="d-flex justify-content-center p-2">
                    <img src="img/chat-gpt.png" alt="" width="96px">
                </div>
                <div class="col-sm-auto">
                    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quaerat
                        temporibus corporis atque
                        totam iure in, minus dicta, earum omnis ipsum placeat sunt porro recusandae voluptas ullam modi
                        architecto laudantium!</p>
                </div>
                <div class="d-flex justify-content-center pb-2">
                    <h5 class="fw-bold">Siguenos en</h5>
                </div>
                <div class="d-flex justify-content-center footer-bottom">
                    <a href=""><img class="mx-1" src="img/youtube.png" alt="" width="32px"></a>
                    <a href=""><img class="mx-1" src="img/instagram.png" alt="" width="32px"></a>
                    <a href=""><img class="mx-1" src="img/facebook.png" alt="" width="32px"></a>
                    <a href=""><img class="mx-1" src="img/tik-tok.png" alt="" width="32px"></a>
                    <a href=""><img class="mx-1" src="img/whatsapp.png" alt="" width="32px"></a>
                </div>
            </div>
        </div>
    </div>
</div>