<div class="container">
    <div class="row d-flex align-items-center mb-3">
        <div class="col-auto">
            <p class="fw-bold fs-2 m-0">Entrega</p>
        </div>
        <div class="col-auto">
            <div class="bg-warning p-1 rounded-circle">
                <img src="img/delivery.png" width="28px" alt="">
            </div>
        </div>
    </div>
    <hr class="mt-5">
    <div class="row mx-0">
        <p class="">Puedes seleccionar envio a domicilio o retiro entienda.</p>
    </div>
    <div class="row mx-0">
        <div class="col-sm-6 mx-0 p-2" style="height: 100px;">
            <div class="row bg-white mx-0 p-4 rounded-2 d-flex justify-content-between" (click)="selectEntrega(1)"
                [ngClass]="{'active-entrega':opcionEntrega==1}" style="cursor: pointer;">
                <div class="col-auto d-flex align-items-center">
                    <div class="col-auto">
                        <div class="bg-warning p-1 rounded-circle">
                            <img src="img/delivery.png" width="24px" alt="">
                        </div>
                    </div>
                    <div class="col-auto px-2">
                        <p class="m-0 fw-semibold">Envio a domicilio</p>
                    </div>
                </div>
                <div class="col-auto d-flex align-items-center">
                    <div class="col-auto">
                        <input type="radio" class="form-check-input" [checked]="opcionEntrega==1">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mx-0 p-2" style="height: 100px;">
            <div class="row bg-white mx-0 p-4 rounded-2 d-flex justify-content-between" (click)="selectEntrega(2)"
                [ngClass]="{'active-entrega':opcionEntrega==2}" style="cursor: pointer;">
                <div class="col-auto d-flex align-items-center">
                    <div class="col-auto">
                        <div class="bg-warning p-1 rounded-circle">
                            <img src="img/tienda.png" width="24px" alt="">
                        </div>
                    </div>
                    <div class="col-auto px-2">
                        <p class="m-0 fw-semibold">Retiro en tienda</p>
                    </div>
                </div>
                <div class="col-auto d-flex align-items-center">
                    <div class="col-auto">
                        <input type="radio" class="form-check-input" [checked]="opcionEntrega==2">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-5">
    <div class="row mx-0">
        <p class="fw-semibold fs-5 my-2">Direccion</p>
    </div>
    <!-- DIRECCION DELIVERY -->
    <div [ngClass]="{'none-div':opcionEntrega!=1,'block-div':opcionEntrega==1}">
        <div class="row mx-0">
            <div *ngFor="let d of domicilios, let i = index" class="col-sm-6 p-2">
                <div class=" bg-white rounded-2 p-3" (click)="selectDireccion(i+1)"
                    [ngClass]="{'active-direccion':opcionDireccion==(i+1)}" style="cursor: pointer;">
                    <div class="">
                        <div class="d-flex justify-content-end">
                            <input type="radio" class="form-check-input" [checked]="opcionDireccion==(i+1)">
                        </div>
                        <p class="datos m-0 fw-light">{{d.consignatario.nombres}}</p>
                        <div class="row d-flex justify-content-between">
                            <div class="col-auto">
                                <p class="datos m-0 fw-light">CEL: {{d.consignatario.celular}}</p>
                            </div>
                            <div class="col-auto">
                                <p class="datos m-0 fw-light">{{d.consignatario.documento}}:{{d.consignatario.numero}}
                                </p>
                            </div>
                        </div>
                        <p class="datos m-0 fw-light">{{d.direccion.via.toLowerCase()}} {{d.direccion.nombre}}</p>
                        <p class="datos m-0 fw-light">Referencia: {{d.direccion.referencia}}</p>
                        <div class="row d-flex justify-content-between">
                            <div class="col-auto">
                                <p class="datos m-0 fw-light">{{d.direccion.distrito}}, {{d.direccion.provincia}},
                                    {{d.direccion.departamento}}</p>
                            </div>
                            <div class="col-auto">
                                <p class="datos m-0 fw-light">CP: {{d.direccion.codigo_postal}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-0 px-0">
                <a routerLink="/cuenta/direccion/crear">Agregar direccion</a>
            </div>
        </div>
    </div>
    <!-- DIRECCION RETIRO -->
    <div [ngClass]="{'none-div':opcionEntrega!=2,'block-div':opcionEntrega==2}">
        <div class="row mx-0 my-3">
            <div class="col-sm-4">
                <label for="" class="form-label">Departamento</label>
                <select name="" id="" class="form-select">
                    <option value="Lima">Lima</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label for="" class="form-label">Provincia</label>
                <select name="" id="" class="form-select">
                    <option value="Lima">Lima</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label for="" class="form-label">Distrito</label>
                <select name="" id="" class="form-select" [(ngModel)]="distritoSelect"
                    (change)="distritoSeleccionado()">
                    <option *ngFor="let d of distritos" [value]="d">{{d}}</option>
                </select>
            </div>
        </div>
        <div class="row mx-0 mb-3">
            <div class="" *ngFor="let o of oficinasRetiroSelect, let i = index">
                <div class="col-sm p-3 my-2 bg-white rounded-2" style="cursor: pointer;"
                    (click)="selectDireccionRetiro(i+1)" [ngClass]="{'active-direccion':opcionDireccionRetiro==i+1}">
                    <div class="row mx-0 d-flex align-items-center">
                        <div class="col-sm-1 d-flex justify-content-center">
                            <img src="img/localizacion.png" width="48px" alt="">
                        </div>
                        <div class="col-sm-10 lh-1 text-secondary">
                            <p class="m-0">{{o.nombre}}</p>
                            <p class="m-0">Dirección: {{o.direccion.nombre}} - {{o.direccion.referencia}} -
                                {{o.direccion.distrito}},
                                {{o.direccion.provincia}},{{o.direccion.departamento}}
                            </p>
                            <p class="m-0">Atencion: Lunes a Domingo de {{o.hora_inicio}} - {{o.hora_fin}}</p>
                        </div>
                        <div class="col-sm-1 d-flex justify-content-end">
                            <input type="radio" class="form-check-input" [checked]="opcionDireccionRetiro==(i+1)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-5">
        <div class="row mx-0 d-flex align-items-center">
            <div class="col-auto">
                <p class="fw-semibold fs-5 m-0">Consignatario</p>
            </div>
            <div class="col-auto">
                <p class="m-0">(Quien recogera el producto)</p>
            </div>
        </div>
        <div class="row mx-0 col-sm-8 mt-3">
            <form [formGroup]="consignatarioForm">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="" class="form-label">Documento</label>
                        <select name="" id="" class="form-select rounded-4" formControlName="documento">
                            <option *ngFor="let d of listaDocumentos" [value]="d.value">{{d.value}}</option>
                        </select>
                    </div>
                    <div class="col-sm-8">
                        <label for="" class="form-label">Numero</label>
                        <input type="text" class="form-control rounded-4" formControlName="numero">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="" class="form-label">Celular</label>
                        <input type="text" class="form-control rounded-4" formControlName="celular">
                    </div>
                    <div class="col-sm-8">
                        <label for="" class="form-label">Nombres</label>
                        <input type="text" class="form-control rounded-4" formControlName="nombres">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr class="mt-5">
    <div class="row mx-0">
        <p class="fw-semibold fs-5">Fechas</p>
    </div>
    <!-- FECHA DELIVERY -->
    <div [ngClass]="{'none-div':opcionEntrega!=1,'block-div':opcionEntrega==1}">
        <div class="row mx-0">
            <div *ngFor="let f of fechas, let i = index" class="col-sm-3 my-1">
                <div class="p-2 bg-white rounded-2" style="cursor: pointer;" (click)="selectFechaEnvio(i+1)"
                    [ngClass]="{'active-fecha':opcionFechaEnvio==(i+1)}">
                    <div class="row m-0">
                        <small class="m-0 fw-semibold">{{obtenerDiaSemana(f.fecha)}}. {{f.fecha.getDate()}}
                            {{obtenerMes(f.fecha)}}.</small>
                    </div>
                    <div class="row m-0 py-2 d-flex justify-content-between">
                        <div class="col-auto">
                            <p class="m-0 fw-bold">S/ {{f.precio}}</p>
                        </div>
                        <div class="col-auto"><input type="radio" class="form-check-input"
                                [checked]="opcionFechaEnvio==(i+1)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FECHA RECOJO -->
    <div [ngClass]="{'none-div':opcionEntrega!=2,'block-div':opcionEntrega==2}">
        <div class="row mx-0">
            <div *ngFor="let f of fechas.slice(4), let i = index" class="col-sm-3 my-1">
                <div class="p-2 bg-white rounded-2" style="cursor: pointer;" (click)="selectFechaRetiro(i+1)"
                    [ngClass]="{'active-fecha':opcionFechaRetiro==(i+1)}">
                    <div class="row m-0 d-flex justify-content-between">
                        <div class="col-auto mx-0 px-0">
                            <small class="m-0 fw-semibold">{{obtenerDiaSemana(f.fecha)}}. {{f.fecha.getDate()}}
                                {{obtenerMes(f.fecha)}}.</small>
                        </div>
                        <div class="col-auto mx-0 px-0">
                            <input type="radio" class="form-check-input" [checked]="opcionFechaRetiro==(i+1)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-5">
    <div class="row mx-0">
        <p class="fw-semibold fs-5">Instrucciones</p>
        <textarea name="" id="" class="form-control mx-2" [(ngModel)]="comentarios"></textarea>
    </div>
    <div class="col-auto mx-0 px-0 my-4">
        <button class="btn btn-warning fw-bold rounded-5 py-2 px-5" (click)="continuarPedido()">Siguiente</button>
    </div>
</div>