<div class="container my-2 bg-white">
    <div *ngIf="producto" class="row">
        <!-- CARRUSEL IMAGENES -->
        <div class="col-lg-6 col-md-6 col-sm-6 d-flex flex-column align-items-center justify-content-center">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner text-center m-0 p-0">
                    <div *ngFor="let foto of producto.fotos; let i = index">
                        <div class="carousel-item" [class.active]="i==0">
                            <img src="img/{{foto.galeria.url}}" class="img-producto" alt="">
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next m-0 p-0" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon m-0 p-0"></span>
                </button>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-center">
                <ul class="list-group list-group-horizontal">
                    <li *ngFor="let f of producto.fotos" class="list-group-item">
                        <a routerLink="#"><img class="foto-galeria" src="img/{{f.galeria.url}}" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- DATOS DEL PRODUCTO -->
        <div class="col-lg-6 col-md-6 col-sm-6 d-flex flex-column">
            <p class="m-0 p-0 fw-semibold pb-3">{{producto.marca.nombre}}</p>
            <h2 class="m-0 p-0 fw-bold pb-1">{{producto.nombre}}</h2>
            <p class="m-0 p-0 fw-light pb-3">{{producto.sku}}</p>
            <div class="d-flex flex-row align-items-center pb-3">
                <p class="m-0 px-1 text-danger fw-bold fs-4">S/ {{calcularPrecio(producto.precio,producto.descuento)}}
                </p>
                <p class="m-0 px-2 fw-light text-decoration-line-through">S/ {{producto.precio}}</p>
            </div>
            <div class="d-flex flex-row align-items-center">
                <div class="input-group pe-3">
                    <button class="btn-menos" (click)="restarItems()"><i class="bi bi-dash"></i></button>
                    <input type="text" class="form-control input-cantidad" value="{{cantidadItem}}">
                    <button class="btn-mas" (click)="sumarItems()"><i class="bi bi-plus"></i></button>
                </div>
                <button class="btn btn-warning rounded-2 fw-bold" data-bs-toggle="modal" data-bs-target="#myModal"
                    (click)="agregar(producto)">Agregar al carrito</button>
                <a routerLink="#" class="ps-3"><i class="bi bi-suit-heart"></i></a>
            </div>
            <hr>
            <div class="d-flex flex-row justify-content-between align-items-center pt-2">
                <div class="col-lg-6 d-flex flex-row align-items-center">
                    <a href="" class="bg-warning rounded-circle py-1 px-2"><i class="bi bi-cart3"></i></a>
                    <div class="d-flex flex-column lh-1 ms-2">
                        <p class="m-0 p-0">Envio a domicilio</p>
                        <a href="">consultar</a>
                    </div>
                </div>
                <div class="col-lg-6 d-flex flex-row align-items-center">
                    <a href="" class="bg-warning rounded-circle py-1 px-2"><i class="bi bi-shop"></i></a>
                    <div class="d-flex flex-column lh-1 ms-2">
                        <p class="m-0 p-0">Retiro en tienda</p>
                        <a href="">consultar</a>
                    </div>
                </div>
            </div>
            <p class="m-0 pt-4">{{producto.slogan}}</p>
            <hr>
            <p class="m-0 p-0 fw-semibold">Compartir</p>
            <div class="d-flex flex-row align-items-center">
                <a routerLink="" class=""><img src="img/social.png" class="" alt="" width="24px"></a>
                <a routerLink="" class="px-2"><img src="img/gmail.png" class="" alt="" width="24px"></a>
                <a routerLink="" class=""><img src="img/whatsapp2.png" class="" alt="" width="24px"></a>
            </div>
            <br>
        </div>
    </div>
</div>
<div class="container my-2 bg-dark">
    <div class="py-3">
        <ul class="nav justify-content-center nav-underline">
            <li class="nav-item px-2">
                <a class="nav-link text-white fw-semibold" style="font-size: 14px; cursor: pointer;"
                    [ngClass]="{'active':activeDetalle=='div1'}" (click)="toggleDiv('div1')">DESCRIPCION DEL
                    PRODUCTO</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link text-white fw-semibold" style="font-size: 14px; cursor: pointer;"
                    [ngClass]="{'active':activeDetalle=='div2'}" (click)="toggleDiv('div2')">ESPECIFICACION</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link text-white fw-semibold" style="font-size: 14px; cursor: pointer;"
                    [ngClass]="{'active':activeDetalle=='div3'}" (click)="toggleDiv('div3')">CAMBIOS Y DEVOLUCION</a>
            </li>
        </ul>
    </div>
</div>
<div *ngIf="activeDetalle=='div1'" class="container bg-body-tertiary my-2">
    <div class="row py-4">
        <div class="col-sm-2 d-flex align-items-center justify-content-center">
            <img src="img/apple-celular-1.png" class="" height="100px" alt="...">
        </div>
        <div *ngIf="producto" class="col-sm-10">
            <h2 class="fw-bold">{{producto.marca.nombre}}</h2>
            <p class="m-0 p-0 texto">{{producto.descripcion}}</p>
        </div>
    </div>
</div>
<div *ngIf="activeDetalle=='div2'" class="container bg-body-tertiary my-2">
    <div class="row py-4 px-4">
        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <div *ngFor="let e of producto.especificaciones.slice(0,6)" class="row py-2 d-flex align-items-center">
                <div class="col-lg-4 col-md-4 colsm-4 col-6 fw-semibold">{{e.nombre}}</div>
                <div class="col-lg-8 col-md-8 colsm-8 col-6">{{e.descripcion}}</div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <div *ngFor="let e of producto.especificaciones.slice(6,12)" class="row py-2 d-flex align-items-center">
                <div class="col-lg-4 col-md-4 colsm-4 col-6 fw-semibold">{{e.nombre}}</div>
                <div class="col-lg-8 col-md-8 colsm-8 col-6">{{e.descripcion}}</div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="activeDetalle=='div3'" class="container bg-body-tertiary my-2">
    <div class="row p-2">
        <h2 class="fw-semibold">Cambios y Devoluciones</h2>
        <p class="lh-1 text-body-secondary mb-4 texto">Recuerda que cuentas con 10 días calendarios luego de haber
            recibido tu
            compra,
            para solicitar el cambio o
            devolución de tu producto. Realízalo acercándote a la tienda más cercana. La relación de tiendas se
            encuentra aquí. Si tu producto es de gran dimensión, contáctanos al (01)200-2890 LaCuracao opción 4, para
            coordinar el recojo. Para que conozcas los requisitos, opciones de cambio y mayor información puedes
            ingresar aquí.</p>
        <h2 class="fw-semibold  mt-4">Garantía de Fábrica</h2>
        <p class="lh-1 text-body-secondary mb-4 texto">Recuerda que cuentas con 10 días calendarios luego de haber
            recibido tu
            compra,
            Todos los productos comercializados en lacuracao.pe cuentan con una garantía de fabricación, cuya vigencia y
            beneficios dependen del tipo de producto adquirido. Cabe mencionar que cada fabricante determinará los
            términos de las garantías ofrecidas y detalladas en su certificado para cada producto específico que
            comercialicen. Si el producto adquirido tuviese algún problema de funcionamiento contáctanos al (01)200-2890
            LaCuracao, nuestros agentes te brindaran la asesoría necesaria para encaminar la solución que corresponda.
        </p>
    </div>
</div>
<div class="container my-2 bg-dark">
    <div class="row py-4">
        <div class="col-sm-3 text-center py-2">
            <img src="img/tienda.png" class="bg-warning rounded-5 p-2 mb-2" alt="" width="48px">
            <h6 class="text-white py-0 my-0">RETIRA TU COMPRA EN TIENDA</h6>
            <small class="text-light py-0 my-0 opacity-75">en mas de 200 puntos a nivel nacional</small>
        </div>
        <div class="col-sm-3 text-center py-2">
            <img src="img/entrega-rapida.png" class="bg-warning rounded-5 p-2 mb-2" alt="" width="48px">
            <h6 class="text-white py-0 my-0">ENVÍOS A TODO EL PERU</h6>
            <small class="text-light py-0 my-0 opacity-75">mas de 1800 distritos</small>
        </div>
        <div class="col-sm-3 text-center py-2">
            <img src="img/atencion-al-cliente.png" class="bg-warning rounded-5 p-2 mb-2" alt="" width="48px">
            <h6 class="text-white my-0 py-0">ATENCIÓN AL CLIENTE</h6>
            <small class="text-light py-0 my-0 opacity-75">(01) 2002870</small>
        </div>
        <div class="col-sm-3 text-center py-2">
            <img src="img/casilleros.png" class="bg-warning rounded-5 p-2 mb-2" alt="" width="48px">
            <h6 class="text-white">RETIRO EN LOCKERS</h6>
            <small class="text-light py-0 my-0 opacity-75">Retira tu compra en lockers las 24hs</small>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-body-tertiary p-2">
            <div class="d-flex align-items-center justify-content-end mb-3">
                <button type="button" class="btn-close fs-5" data-bs-dismiss="modal"></button>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-start mb-3">
                <div class="p-1 bg-warning rounded-circle"><img src="img/cart.png" width="24px" class="" alt=""></div>
                <p class="m-0 px-2 fw-bold fs-5">{{tituloModal}}</p>
                <div class="spinner-border" [hidden]="estadoAgregar" role="status"></div>
                <div class="col-sm-auto" [hidden]="!estadoAgregar">
                    <img src="img/cheque.png" class="" width="24px" alt="">
                </div>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-center border border-light-subtle mb-3"
                *ngIf="item">
                <div class="p-2"><img src="img/{{item.fotos[0].galeria.url}}" alt="" width="80px"></div>
                <div class="d-flex flex-column">
                    <p class="m-0 pb-2 fw-bold">{{item.marca.nombre}}</p>
                    <p class="m-0 pb-2 text-primary fw-bold text-decoration-underline lh-1"
                        (click)="irAlProducto(item.nombre)">{{item.nombre}}</p>
                    <p class="m-0 p-0 text-danger fw-bold fs-4">S/ {{calcularPrecio(item.precio,item.descuento)}}</p>
                    <p class="m-0 pb-2 fw-light text-decoration-line-through">S/ {{item.precio}}</p>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-between mb-3">
                <button data-bs-dismiss="modal" class="btn btn-outline-warning rounded-2 text-dark fw-bold">Seguir
                    comprando</button>
                <button class="btn btn-warning rounded-2 fw-bold" (click)="irAlCarrito()">Ir al carrito</button>
            </div>
        </div>
    </div>
</div>