<div class="container my-2 bg-white">
    <div class="row py-4">
        <div class="col-sm">
            <div class="row">
                <div class="col-sm-2">
                    <div class="list-group">
                        <a routerLink="#" class="list-group-item list-group-item-action">
                            <img src="img/apple-celular-1.png" class="" height="48px" alt="...">
                        </a>
                        <a routerLink="#" class="list-group-item list-group-item-action">
                            <img src="img/apple-celular-2.png" class="" height="48px" alt="...">
                        </a>
                        <a routerLink="#" class="list-group-item list-group-item-action">
                            <img src="img/apple-celular-3.png" class="" height="48px" alt="...">
                        </a>
                    </div>
                </div>
                <div class="col-sm-10 p-0 m-0">
                    <div class="col-sm-12">
                        <div *ngIf="producto.descuento > 0">
                            <button type="button" class="btn btn-danger fw-semibold">-{{producto.descuento}}%</button>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner text-center">
                                <div class="carousel-item active">
                                    <img src="img/apple-celular-1.png" class="" height="450px" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="img/apple-celular-2.png" class="" height="450px" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="img/apple-celular-3.png" class="" height="450px" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="producto" class="col-sm">
            <p class="py-0 my-2">{{producto.marca.nombre}}</p>
            <h2 class="fw-bold py-0 my-2">{{producto.nombre}}</h2>
            <p class="my-2">{{producto.sku}}</p>
            <div class="row mt-3">
                <div class="col-sm-auto text-danger fw-semibold fs-4">
                    <p class="my-0">S/ {{(producto.precio*(1-producto.descuento/100)).toFixed(2)}}</p>
                </div>
                <div class="col-sm-auto d-flex align-items-center ps-0">
                    <p class="my-0">Oferta</p>
                </div>
            </div>
            <p class="fw-light text-decoration-line-through">S/ {{producto.precio}}</p>
            <div class="row d-flex">
                <div class="col-sm-auto">
                    <div class="input-group" style="width: 135px;">
                        <button
                            class="btn btn-outline-secondary pt-0 fs-4 border border-end-0 border-warning rounded-start-pill"
                            type="button" id="button-addon1">-</button>
                        <input type="text"
                            class="form-control text-center shadow-none border border-start-0 border-end-0 border-warning"
                            placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <button
                            class="btn btn-outline-secondary pt-0 mt-0 fs-4 border border-start-0 border-warning rounded-end-circle"
                            type="button" id="button-addon2">+</button>
                    </div>
                </div>
                <div class="col-sm-auto mx-0 px-2">
                    <button class="btn btn-warning fw-bold px-5 py-2 rounded-5">Agregar al carrito</button>
                </div>
                <div class="col-sm-auto d-flex align-items-center">
                    <img src="img/corazon.png" alt="" width="24px">
                </div>
            </div>
            <hr class="text-body-tertiarymb-4">
            <div class="row mb-3">
                <div class="col-sm-auto">
                    <img src="img/entrega-rapida.png" class="bg-warning rounded-5 p-1" alt="" width="40px">
                </div>
                <div class="col-sm-auto d-flex align-items-center px-0">
                    <div class="row">
                        <small class="col-sm-12 lh-1" style="width: 200px;">Disponible envio a domicilio <a
                                href="">consultar</a></small>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-auto">
                    <img src="img/tienda.png" class="bg-warning rounded-5 p-1" alt="" width="40px">
                </div>
                <div class="col-sm-auto d-flex align-items-center px-0">
                    <div class="row">
                        <small class="col-sm-12 lh-1" style="width: 250px;">Disponible retiro en tienda y
                            lockers <a href="">consultar</a></small>
                    </div>
                </div>
            </div>
            <p><small>{{producto.slogan}}</small></p>
            <hr class="text-body-tertiary mb-3">
            <p class="text-secondary fw-semibold mb-1">Compartir en</p>
            <div class="row d-flex align-items-center">
                <div class="col-sm-auto"><img src="img/social.png" class="" alt="" width="24px"></div>
                <div class="col-sm-auto px-0"><img src="img/gmail.png" class="" alt="" width="24px"></div>
                <div class="col-sm-auto"><img src="img/whatsapp2.png" class="" alt="" width="24px"></div>
            </div>
        </div>
    </div>
</div>
<div class="container my-2 bg-dark">
    <div class="py-2">
        <ul class="nav justify-content-center nav-underline">
            <li class="nav-item px-2">
                <a class="nav-link text-white fw-semibold" style="font-size: 14px;"
                    [ngClass]="{'active':activeDetalle=='div1'}" routerLink="#" (click)="toggleDiv('div1')">DESCRIPCION
                    DEL PRODUCTO</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link text-white fw-semibold" style="font-size: 14px;"
                    [ngClass]="{'active':activeDetalle=='div2'}" routerLink="#"
                    (click)="toggleDiv('div2')">ESPECIFICACION</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link text-white fw-semibold" style="font-size: 14px;"
                    [ngClass]="{'active':activeDetalle=='div3'}" routerLink="#" (click)="toggleDiv('div3')">CAMBIOS Y
                    DEVOLUCION</a>
            </li>
        </ul>
    </div>
</div>
<div *ngIf="activeDetalle=='div1'" class="container bg-body-tertiary my-2">
    <div class="row py-5">
        <div class="col-sm-2 d-flex align-items-center justify-content-center">
            <img src="img/apple-celular-1.png" class="" height="100px" alt="...">
        </div>
        <div class="col-sm-10">
            <h2 class="fw-bold">{{producto.marca.nombre}}</h2>
            <p>{{producto.descripcion}}</p>
            <p class="lh-1 text-body-secondary">Disfruta de tus películas y series favoritas con imágenes 4K Ultra HD
                gracias a LG y su televisor
                50UT7300PSA (2024) con sistema operativo Web OS. Tiene 3 entradas HDMI, 2 entradas USB, entrada
                internet, Sintonizador TDT, 60Hz de Tasa de refresco, conexión Bluetooth y conexión WiFi. Además, posee
                una pantalla plana LED de 50 pulgadas, unos parlantes potente de 20W, e incluye un control remoto. ¡No
                lo pienses más y aprovecha esta oportunidad! Adquiere este increíble televisor LG con solo un clic a
                través de la web de La Curacao, palabra de confianza.</p>
        </div>
    </div>
</div>
<div *ngIf="activeDetalle=='div2'" class="container bg-body-tertiary my-2">
    <div class="row py-5">
        <div class="col-sm">
            <div *ngFor="let e of producto.especificaciones.slice(0,4)" class="row py-2">
                <div class="col-sm-4">{{e.nombre}}</div>
                <div class="col-sm-8">{{e.descripcion}}</div>
            </div>
        </div>
        <div class="col-sm">
            <div *ngFor="let e of producto.especificaciones.slice(4,8)" class="row">
                <div class="col-sm-4">{{e.nombre}}</div>
                <div class="col-sm-8">{{e.descripcion}}</div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="activeDetalle=='div3'" class="container bg-body-tertiary my-2">
    <div class="row py-5">
        <h2 class="fw-bold mb-4">Cambios y Devoluciones</h2>
        <p class="lh-1 text-body-secondary mb-4">Recuerda que cuentas con 10 días calendarios luego de haber recibido tu
            compra,
            para solicitar el cambio o
            devolución de tu producto. Realízalo acercándote a la tienda más cercana. La relación de tiendas se
            encuentra aquí. Si tu producto es de gran dimensión, contáctanos al (01)200-2890 LaCuracao opción 4, para
            coordinar el recojo. Para que conozcas los requisitos, opciones de cambio y mayor información puedes
            ingresar aquí.</p>
        <h2 class="fw-bold  mb-4">Garantía de Fábrica</h2>
        <p class="lh-1 text-body-secondary">Recuerda que cuentas con 10 días calendarios luego de haber recibido tu
            compra,
            Todos los productos comercializados en lacuracao.pe cuentan con una garantía de fabricación, cuya vigencia y
            beneficios dependen del tipo de producto adquirido. Cabe mencionar que cada fabricante determinará los
            términos de las garantías ofrecidas y detalladas en su certificado para cada producto específico que
            comercialicen. Si el producto adquirido tuviese algún problema de funcionamiento contáctanos al (01)200-2890
            LaCuracao, nuestros agentes te brindaran la asesoría necesaria para encaminar la solución que corresponda.
        </p>
    </div>
</div>
<div class="container my-2 bg-dark">
    <div class="row py-4">
        <div class="col-sm-3 text-center">
            <img src="img/tienda.png" class="bg-warning rounded-5 p-2 mb-2" alt="" width="48px">
            <h6 class="text-white py-0 my-0">RETIRA TU COMPRA EN TIENDA</h6>
            <small class="text-light py-0 my-0 opacity-75">en mas de 200 puntos a nivel nacional</small>
        </div>
        <div class="col-sm-3 text-center">
            <img src="img/entrega-rapida.png" class="bg-warning rounded-5 p-2 mb-2" alt="" width="48px">
            <h6 class="text-white py-0 my-0">ENVÍOS A TODO EL PERU</h6>
            <small class="text-light py-0 my-0 opacity-75">mas de 1800 distritos</small>
        </div>
        <div class="col-sm-3 text-center">
            <img src="img/atencion-al-cliente.png" class="bg-warning rounded-5 p-2 mb-2" alt="" width="48px">
            <h6 class="text-white my-0 py-0">ATENCIÓN AL CLIENTE</h6>
            <small class="text-light py-0 my-0 opacity-75">(01) 2002870</small>
        </div>
        <div class="col-sm-3 text-center">
            <img src="img/casilleros.png" class="bg-warning rounded-5 p-2 mb-2" alt="" width="48px">
            <h6 class="text-white">RETIRO EN LOCKERS</h6>
            <small class="text-light py-0 my-0 opacity-75">Retira tu compra en lockers las 24hs</small>
        </div>
    </div>
</div>