<div class="container my-2 bg-body-tertiary">
    <div class="row py-5">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <p class="py-0 my-2">Marca</p>
            <h2 class="fw-bold py-0 my-2">Parlante Inalámbrico JBL Bluetooth Boombox 3 Negro</h2>
            <p class="my-2">SKU JBLBOOMBOX3BLK</p>
            <div class="row mt-3">
                <div class="col-sm-auto text-danger fw-semibold fs-4">
                    <p class="my-0">S/ 1,549.00</p>
                </div>
                <div class="col-sm-auto d-flex align-items-center ps-0">
                    <p class="my-0">Oferta</p>
                </div>
            </div>
            <p class="fw-light text-decoration-line-through">S/ 2,099.00</p>
            <div class="row d-flex">
                <div class="col-sm-auto">
                    <div class="input-group" style="width: 135px;">
                        <button
                            class="btn btn-outline-secondary pt-0 fs-4 border border-end-0 border-warning rounded-start-pill"
                            type="button" id="button-addon1">-</button>
                        <input type="text"
                            class="form-control shadow-none border border-start-0 border-end-0 border-warning"
                            placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <button
                            class="btn btn-outline-secondary pt-0 mt-0 fs-4 border border-start-0 border-warning rounded-end-circle"
                            type="button" id="button-addon2">+</button>
                    </div>
                </div>
                <div class="col-sm-auto mx-0 px-2">
                    <button class="btn btn-warning fw-bold px-5 py-2 rounded-5">Agregar al carrito</button>
                </div>
                <div class="col-sm-auto d-flex align-items-center">
                    <img src="img/corazon.png" alt="" width="24px">
                </div>
            </div>
            <hr class="text-body-tertiarymb-4">
            <div class="row mb-3">
                <div class="col-sm-auto">
                    <img src="img/entrega-rapida.png" class="bg-warning rounded-5 p-1" alt="" width="40px">
                </div>
                <div class="col-sm-auto d-flex align-items-center px-0">
                    <div class="row">
                        <small class="col-sm-12 lh-1" style="width: 200px;">Disponible envio a domicilio <a
                                href="">consultar</a></small>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-auto">
                    <img src="img/tienda.png" class="bg-warning rounded-5 p-1" alt="" width="40px">
                </div>
                <div class="col-sm-auto d-flex align-items-center px-0">
                    <div class="row">
                        <small class="col-sm-12 lh-1" style="width: 250px;">Disponible retiro en tienda y
                            lockers <a href="">consultar</a></small>
                    </div>
                </div>
            </div>
            <p><small>Adquiere lo último de JBL enLa Curacao ¡De la web a tus manos!</small></p>
            <hr class="text-body-tertiary mb-4">
        </div>
    </div>
</div>
<div class="container my-2 bg-dark">
    <div class="py-2">
        <ul class="nav justify-content-center nav-underline" style="font-size: 14px;">
            <li class="nav-item px-2">
                <a class="nav-link  text-white" href="#">DESCRIPCION DEL PRODUCTO</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link active text-warning" href="#">ESPECIFICACIONES</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link text-white" href="#">CAMBIOS Y DEVOLUCIONES</a>
            </li>
        </ul>
    </div>
</div>