<div class="container">
    <h2 class="fw-bold">Resumen</h2>
    <hr class="mt-5">
    <div class="row m-0 d-flex align-items-center py-2">
        <div class="col-auto bg-warning rounded-circle p-1"><img src="img/account.png" width="28px" alt=""></div>
        <div class="col-auto px-1">
            <p class="m-0 fs-5 fw-light">Mis datos</p>
        </div>
    </div>
    <div class="row m-0 py-2">
        <div class="col-sm-6 px-2">
            <div class="border border-light-subtle rounded-2 p-4 bg-white">
                <div class="mb-2">
                    <p class="m-0 fw-bold ">Datos personales</p>
                </div>
                <div class="mb-0">
                    <p *ngIf="usuario" class="m-0 fw-light"><strong>Nombres:</strong> {{usuario.nombres +" "+
                        usuario.apellidos}}</p>
                </div>
                <div class="mb-0">
                    <p *ngIf="usuario" class="m-0 fw-light"><strong>Doc:</strong> {{usuario.numero}}
                        ({{usuario.documento}})</p>
                </div>
                <div class="mb-0">
                    <p *ngIf="usuario" class="m-0 fw-light"><strong>Nacimiento:</strong>:
                        {{formatoFecha(usuario.nacimiento)}}</p>
                </div>
                <div class="mb-0">
                    <p *ngIf="usuario" class="m-0 fw-light"><strong>Cel: </strong>{{usuario.telefono}}</p>
                </div>
                <div class="mb-0">
                    <p *ngIf="usuario" class="m-0 fw-light"><strong>Email: </strong>{{usuario.email}}</p>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <a class="btn btn-outline-warning rounded-5 px-4 text-dark fw-bold"
                        (click)="irMisDatos()">Editar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 px-2">
            <div class="border border-light-subtle rounded-2 p-4 bg-white">
                <div class="mb-2">
                    <p class="m-0 fw-bold ">Datos de seguridad</p>
                </div>
                <div class="mb-0">
                    <p class="m-0 fw-light"><strong>Contraseña: </strong> {{"********"}}</p>
                </div>
                <div class="mb-0">
                    <p class="m-0 fw-light fst-italic">Para cambiar la contraseña es necesario iniciar sesion</p>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <button class="btn btn-outline-warning rounded-5 px-4 text-dark fw-bold">Cambiar contraseña</button>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-5">
    <div class="row m-0 d-flex align-items-center justify-content-between py-2">
        <div class="row col-auto d-flex align-items-center">
            <div class="col-auto bg-warning rounded-circle p-1">
                <img src="img/marcador-de-posicion.png" width="28px" alt="">
            </div>
            <div class="col-auto px-1">
                <p class="m-0 fs-5 fw-light">Mi libreta de direcciones</p>
            </div>
        </div>
        <div class="col-auto">
            <a routerLink="/cuenta/direccion">Ver todas las direcciones</a>
        </div>
    </div>
    <div *ngIf="domicilios" class="row m-0 py-2">
        <div *ngFor="let d of domicilios.slice(0,2), let i = index" class="col-sm-6 px-2">
            <div class="border border-light-subtle rounded-2 p-4 bg-white">
                <div class="mb-2">
                    <p class="m-0 fw-bold ">Direccion de entrega #{{i+1}}</p>
                </div>
                <div class="mb-0">
                    <p class="m-0 fw-light">{{d.consignatario.nombres}}</p>
                </div>
                <div class="mb-0">
                    <p class="m-0 fw-light">{{d.direccion.via.toUpperCase()}} {{d.direccion.nombre}} -
                        {{d.direccion.distrito}}</p>
                </div>
                <div>
                    <p>...</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-5">
    <div class="row m-0 d-flex align-items-center py-2 justify-content-between">
        <div class="row col-auto d-flex align-items-center">
            <div class="col-auto bg-warning rounded-circle p-1">
                <img src="img/cart.png" width="24px" alt="">
            </div>
            <div class="col-auto px-1">
                <p class="m-0 fs-5 fw-light">Mis pedidos</p>
            </div>
        </div>
        <div class="col-auto">
            <a routerLink="/cuenta/pedidos">Ver todos los pedidos ({{pedidos.length}})</a>
        </div>
    </div>
    <div *ngIf="pedidos" class="row m-0 py-2">
        <div *ngFor="let p of pedidos.slice(0,2), let i = index" class="pb-3">
            <div class=" row d-flex justify-content-between border border-light-subtle rounded-2 p-3 bg-white">
                <div class="col-auto lh-1 m-0 p-0">
                    <p class="m-0 p-1 fw-bold">Nro. Pedido</p>
                    <p class="m-0 p-1 fw-light">#{{p.numero}}</p>
                </div>
                <div class="col-auto lh-1 m-0 p-0">
                    <p class="m-0 p-1 fw-bold">Total</p>
                    <p class="m-0 p-1 fw-light">S/ {{formatoMoneda(p.total)}}</p>
                </div>
                <div class="col-auto lh-1 m-0 p-0">
                    <p class="m-0 p-1 fw-bold">T. entrega</p>
                    <p class="m-0 p-1 fw-light">{{p.entrega}}</p>
                </div>
                <div class="col-auto lh-1 m-0 p-0">
                    <p class="m-0 p-1 fw-bold">F. entrega</p>
                    <p class="m-0 p-1 fw-light">{{formatoFecha(p.fecha_entrega)}}</p>
                </div>
                <div class="col-auto lh-1 m-0 p-0">
                    <p class="m-0 p-1 fw-bold">Estado</p>
                    <p class="m-0 p-1 fw-light">{{p.estado}}</p>
                </div>
                <div class="col-auto lh-1 m-0 p-0 d-flex align-items-center">
                    <div>
                        <button (click)="ver_pdf(p.numero)"
                            class="btn btn-warning btn-sm fw-bold p-1 rounded-2">comprobante</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-5">
    <div class="row m-0 d-flex align-items-center py-2 justify-content-between">
        <div class="row col-auto d-flex align-items-center">
            <div class="col-auto bg-warning rounded-circle p-1">
                <img src="img/corazon.png" width="24px" alt="">
            </div>
            <div class="col-auto px-1">
                <p class="m-0 fs-5 fw-light">Mis favoritos</p>
            </div>
        </div>
        <div class="col-auto">
            <a routerLink="/cuenta/favoritos">Ver todos los favoritos ({{favoritos.length}})</a>
        </div>
    </div>
    <div *ngIf="favoritos" class="mt-2">
        <div *ngFor="let f of favoritos.slice(0,2)"
            class="row mx-0 my-2 bg-white p-2 border border-light-subtle rounded-2">
            <div class="col-sm-2 d-flex align-items-center justify-content-center">
                <img src="img/{{f.producto.fotos[0].galeria.url}}" height="70px" alt="">
            </div>
            <div class="col-sm-8">
                <p class="m-0 fw-light">{{f.producto.marca.nombre}}</p>
                <p class="m-0 text-primary text-decoration-underline fw-semibold lh-1">{{f.producto.nombre}}</p>
                <div class="row mt-2">
                    <div class="col-auto">
                        <p class="m-0 text-danger fw-bold fs-5">S/
                            {{calcularPrecio(f.producto.precio,f.producto.descuento)}}</p>
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <p class="m-0 text-decoration-line-through fw-light">S/ {{formatoMoneda(f.producto.precio)}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 d-flex align-items-center justify-content-evenly">
                <div class="bg-warning rounded-circle p-1 mx-2" style="cursor: pointer;"
                    (click)="agregarAlCarrito(f.producto.id)">
                    <img src="img/cart.png" height="24px" alt="">
                </div>
                <div class="bg-warning rounded-circle p-1 mx-2" style="cursor: pointer;"
                    (click)="eliminarFavorito(f.id)">
                    <img src="img/basura.png" height="24px" alt="">
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-5">
</div>