<div class="container my-2 col-sm-6">
    <div [hidden]="!(respuestaEmail==0)">
        <div class="p-5 d-flex justify-content-center">
            <div>
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div [hidden]="!(respuestaEmail==1)">
        <div class="p-4 bg-body-tertiary d-flex justify-content-center">
            <div class="">
                <p class="m-0 fw-bold fs-1">¡ Bienvenido a SMARTECH !</p>
            </div>
        </div>
        <div class="p-4 bg-warning opacity-75">
            <div class="row py-2">
                <p class="m-0 fs-5">Te damos la bienvenida al increible mundo de <strong>SMARTECH</strong>. Somos
                    pioneros
                    en productos
                    tecnologicos con
                    variedad de marcas y precios al alcance de todos.</p>
            </div>
        </div>
        <div class="p-4 bg-body-tertiary">
            <div class="row mt-5 d-flex justify-content-center">
                <div class="col-auto">
                    <button class="btn btn-warning fw-bold px-5 py-2 rounded-5" routerLink="">Continuar</button>
                </div>
            </div>
        </div>
    </div>
</div>