<div class="container py-2 d-flex justify-content-center">
    <div class="col-sm-6 p-5 bg-body-tertiary">
        <div class="row mb-5">
            <div class="col-auto d-flex align-items-center">
                <img src="img/usuario-verificado.png" width="32px" alt="">
            </div>
            <div class="col-auto d-flex align-items-end p-0">
                <h4 class="fw-semibold">Iniciar Sesion en SmarTech</h4>
            </div>
        </div>
        <form [formGroup]="authForm" (ngSubmit)="login()">
            <div class="mb-3">
                <div class="position-relative">
                    <!-- <img class="icon" src="img/correo-electronico.png" width="32px" alt=""> -->
                    <input type="text" class="form-control rounded-4 px-4 py-2" formControlName="email"
                        placeholder="nombre@dominio.com">
                </div>
            </div>
            <div class="mb-3">
                <div class="position-relative">
                    <!-- <img class="icon" src="img/clave.png" width="32px" alt=""> -->
                    <input type="password" class="form-control rounded-4 px-4 py-2" formControlName="password"
                        placeholder="contraseña">
                </div>
            </div>
            <div class="mb-4 d-flex justify-content-between">
                <div>
                    <a routerLink="/recuperarpassword">
                        <p>¿Olvidaste tu contraseña?</p>
                    </a>
                </div>
                <div>
                    <a routerLink="/registrar">
                        <p>¡Crear cuenta!</p>
                    </a>
                </div>
            </div>
            <div class="mb-4">
                <button class="btn btn-warning px-5 py-2 rounded-4 fw-semibold" [disabled]="authForm.invalid"
                    type="submit">Iniciar Sesion</button>
            </div>
        </form>
    </div>
</div>