<div *ngIf="categorias">
    <div *ngFor="let c of categorias.slice(0,3)">
        <div *ngIf="c.productos.length>0">
            <div class="container mb-2">
                <div class="row py-2">
                    <a href="" class="col-auto pe-0 d-flex align-items-center"><img src="img/telefono-movil.png" alt=""
                            width="32px"></a>
                    <a href="" class="col-auto fw-semibold fs-3 px-0 text-dark"
                        style="text-decoration: none;">{{c.nombre}}</a>
                </div>
            </div>

            <div class="container mb-2">
                <div class="row">
                    <div *ngFor="let p of c.productos.slice(0, 4)" class="col-sm-12 col-md-6 col-lg-3 mb-4">
                        <div class="card">
                            <div class="position-relative">
                                <div class="position-absolute top-0 start-0">
                                    <div *ngIf="p.descuento > 0">
                                        <button type="button"
                                            class="btn btn-danger fw-semibold">-{{p.descuento}}%</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" style="height: 430px;">
                                <div class="d-flex justify-content-center m-0 pb-2">
                                    <a routerLink="producto-detalle/{{p.nombre}}"><img
                                            src="img/{{p.fotos[0].galeria.url}}" alt="" height="200px"></a>
                                </div>
                                <div class="">
                                    <p class="m-0 pb-2 fw-light">{{p.marca.nombre}}</p>
                                </div>
                                <div class="">
                                    <p routerLink="producto/detalle/{{p.nombre}}"
                                        class="m-0 pb-2 fw-bold truncate-multiline" style="cursor: pointer;">
                                        {{p.nombre}}
                                    </p>
                                </div>
                                <div class="row">
                                    <p class="col-auto fs-5 text-danger fw-bold my-0">S/
                                        {{(p.precio*(1-p.descuento/100)).toFixed(2)}}</p>
                                    <p *ngIf="p.descuento==0"
                                        class="col-auto d-flex text-white align-items-center justify-content-start p-0 my-0">
                                        oferta
                                    </p>
                                    <p *ngIf="p.descuento>0"
                                        class="col-auto d-flex align-items-center justify-content-start p-0 my-0">oferta
                                    </p>
                                </div>
                                <div class="row">
                                    <p *ngIf="p.descuento==0"
                                        class="col-auto fw-light text-white text-decoration-line-through my-0">S/
                                        {{p.precio}}
                                    </p>
                                    <p *ngIf="p.descuento>0"
                                        class="col-auto fw-light text-decoration-line-through my-0">S/
                                        {{p.precio}}</p>
                                </div>
                                <div class="row d-flex justify-content-center justify-content-evenly">
                                    <div class="col-auto py-2 px-2 m-0">
                                        <button class="btn bg-warning fw-semibold rounded-2" data-bs-toggle="modal"
                                            data-bs-target="#myModal" (click)="agregar(p)">Agregar al carrito</button>
                                    </div>
                                    <div class="col-auto d-flex align-items-center p-0 m-0" (click)="agregarFavorito(p)"
                                        style="cursor: pointer;">
                                        <img src="img/corazon.png" alt="" width="24px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-body-tertiary p-2">
            <div class="d-flex align-items-center justify-content-end mb-3">
                <button type="button" class="btn-close fs-5" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-start mb-3">
                <div class="p-1 bg-warning rounded-circle"><img src="img/cart.png" width="24px" class="" alt=""></div>
                <p class="m-0 px-2 fw-bold fs-5">{{tituloModal}}</p>
                <div class="spinner-border" [hidden]="estadoAgregar" role="status"></div>
                <div class="col-sm-auto" [hidden]="!estadoAgregar">
                    <img src="img/cheque.png" class="" width="24px" alt="">
                </div>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-center border border-light-subtle mb-3"
                *ngIf="item">
                <div class="p-2"><img src="img/{{item.fotos[0].galeria.url}}" alt="" width="80px"></div>
                <div class="d-flex flex-column">
                    <p class="m-0 pb-2 fw-bold">{{item.marca.nombre}}</p>
                    <p class="m-0 pb-2 text-primary fw-bold text-decoration-underline lh-1"
                        (click)="irAlProducto(item.nombre)">{{item.nombre}}</p>
                    <p class="m-0 p-0 text-danger fw-bold fs-4">S/ {{calcularPrecio(item.precio,item.descuento)}}</p>
                    <p class="m-0 pb-2 fw-light text-decoration-line-through">S/ {{item.precio}}</p>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-between mb-3">
                <button data-bs-dismiss="modal" class="btn btn-outline-warning rounded-2 text-dark fw-bold">Seguir
                    comprando</button>
                <button class="btn btn-warning rounded-2 fw-bold" (click)="irAlCarrito()">Ir al carrito</button>
            </div>
        </div>
    </div>
</div>