<div class="container mb-2">
    <div class="row py-2">
        <a href="" class="col-auto pe-0 d-flex align-items-center"><img src="img/telefono-movil.png" alt=""
                width="32px"></a>
        <a href="" class="col-auto fw-semibold fs-3 px-0 text-dark" style="text-decoration: none;">Celulares</a>
    </div>
</div>

<div class="container mb-2">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card">
                <div class="position-relative">
                    <div class="position-absolute top-0 start-0">
                        <button type="button" class="btn btn-danger fw-semibold">-39%</button>
                    </div>
                </div>
                <div class="card-body" style="height: 430px;">
                    <div class="d-flex justify-content-center m-0 pb-2">
                        <a href=""><img src="img/celular.png" alt="" height="200px"></a>
                    </div>
                    <div class="">
                        <p class="m-0 pb-2 fw-light">Motorla</p>
                    </div>
                    <div class="">
                        <p class="m-0 pb-2 fw-bold">Celular Motorola Moto Edge 50 Fusion 8GB 256GB 6.6"</p>
                    </div>
                    <div class="row">
                        <p class="col-auto fs-5 text-danger fw-bold my-0">S/ 1,459.00</p>
                        <p class="col-auto d-flex align-items-center justify-content-start p-0 my-0">oferta</p>
                    </div>
                    <div class="row">
                        <p class="col-auto fw-light text-decoration-line-through my-0">S/ 2,459.00</p>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-auto py-2 px-2 m-0">
                            <button class="btn bg-primary-subtle fw-semibold rounded-4 px-5">Agregar al
                                carrito</button>
                        </div>
                        <div class="col-auto d-flex align-items-center p-0 m-0">
                            <a href=""><img src="img/corazon.png" alt="" width="24px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card">
                <div class="position-relative">
                    <div class="position-absolute top-0 start-0">
                        <button type="button" class="btn btn-danger fw-semibold">-39%</button>
                    </div>
                </div>
                <div class="card-body" style="height: 430px;">
                    <div class="d-flex justify-content-center m-0 pb-2">
                        <a href=""><img src="img/celular-2.png" alt="" height="200px"></a>
                    </div>
                    <div class="">
                        <p class="m-0 pb-2 fw-light">Motorla</p>
                    </div>
                    <div class="">
                        <p class="m-0 pb-2 fw-bold">Celular Motorola Moto Edge 50 Fusion 8GB 256GB 6.6"</p>
                    </div>
                    <div class="row">
                        <p class="col-auto fs-5 text-danger fw-bold my-0">S/ 1,459.00</p>
                        <p class="col-auto d-flex align-items-center justify-content-start p-0 my-0">oferta</p>
                    </div>
                    <div class="row">
                        <p class="col-auto fw-light text-decoration-line-through my-0">S/ 2,459.00</p>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-auto py-2 px-2 m-0">
                            <button class="btn bg-primary-subtle fw-semibold rounded-4 px-5">Agregar al
                                carrito</button>
                        </div>
                        <div class="col-auto d-flex align-items-center p-0 m-0">
                            <a href=""><img src="img/corazon.png" alt="" width="24px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>